In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from IPython.display import display, clear_output

from bokeh.io import output_notebook
from bokeh.models import ColumnDataSource, HoverTool
from bokeh.plotting import figure, show
from bokeh.palettes import d3



%matplotlib inline

## Read the files

In [6]:
df_prod_factors = pd.read_csv("Productivity_Factors.csv", index_col=0)
df_prod_factors.head()

,Sales District,Sales Office,Date (YYYYMM),GM per Emp,Sales Order per Emp,Sales Order Items per Emp,Sales Order Delivery per Emp,Non-Sales Order Delivery per Emp,Delivery Lines per Emp,Deliver Docs per Emp,RSO per Emp,Sales per Emp
ALNY201701,11,ALNY,201701,21069.880000,211.363636,2265.000000,238.363636,22.545455,260.909091,85.454545,99.968182,130209.118182
ALNY201702,11,ALNY,201702,40164.070000,196.800000,2222.100000,238.100000,23.600000,261.700000,88.900000,99.956000,212385.736000
ALNY201703,11,ALNY,201703,52875.967500,292.375000,3427.375000,361.375000,21.875000,383.250000,131.625000,99.931250,257548.051250
ALNY201704,11,ALNY,201704,46699.342857,292.000000,3244.428571,286.285714,29.285714,315.571429,122.285714,99.947143,306279.004286
ALNY201705,11,ALNY,201705,55202.507143,358.714286,4398.857143,408.571429,22.571429,431.142857,136.285714,99.907143,303575.987143

In [7]:
df_prod_grades_alpha = pd.read_csv("Productivity_Grades_Alpha.csv", index_col=0)
df_prod_grades_alpha.head()

,Sales District,Sales Office,Date (YYYYMM),GM per Emp,Sales Order per Emp,Sales Order Items per Emp,Sales Order Delivery per Emp,Non-Sales Order Delivery per Emp,Delivery Lines per Emp,Deliver Docs per Emp,RSO per Emp,Sales per Emp,Scenario 1,Scenario 2,Scenario 3
ALNY201701,11,ALNY,201701,S,S,S,S,R,S,S,Q,S,D,D,D
ALNY201702,11,ALNY,201702,R,S,S,S,R,S,S,Q,R,D,D,D
ALNY201703,11,ALNY,201703,R,R,R,R,S,R,R,Q,R,C,C,C
ALNY201704,11,ALNY,201704,R,R,R,R,R,R,R,Q,R,C,C,C
ALNY201705,11,ALNY,201705,R,R,R,R,R,R,R,Q,R,C,C,C

In [8]:
df_prod_grades_num = pd.read_csv("Productivity_Grades_Num.csv", index_col=0)
df_prod_grades_num.head()

,Sales District,Sales Office,Date (YYYYMM),GM per Emp,Sales Order per Emp,Sales Order Items per Emp,Sales Order Delivery per Emp,Non-Sales Order Delivery per Emp,Delivery Lines per Emp,Deliver Docs per Emp,RSO per Emp,Sales per Emp,Scenario 1,Scenario 2,Scenario 3
ALNY201701,11,ALNY,201701,10.0,10.0,10.0,10.0,20.0,10.0,10.0,30.0,10.0,11.5,12.0,12.0
ALNY201702,11,ALNY,201702,20.0,10.0,10.0,10.0,20.0,10.0,10.0,30.0,20.0,17.0,17.0,15.0
ALNY201703,11,ALNY,201703,20.0,20.0,20.0,20.0,10.0,20.0,20.0,30.0,20.0,20.0,19.5,19.5
ALNY201704,11,ALNY,201704,20.0,20.0,20.0,20.0,20.0,20.0,20.0,30.0,20.0,20.5,20.5,20.5
ALNY201705,11,ALNY,201705,20.0,20.0,20.0,20.0,20.0,20.0,20.0,30.0,20.0,20.5,20.5,20.5

In [9]:
df_prof_factors = pd.read_csv("Profitability_Factors.csv", index_col=0)
df_prof_factors.head()

,Sales District,Sales Office,Date (YYYYMM),Number of Delivery Lines (SO),Sales $ per branch,GM $ per branch,RSO by plant,GMR,Sales Order - RSO
ALNY201701,11,ALNY,201701,2622.0,1432300.30,231768.68,35.0,0.161816,2290.0
ALNY201702,11,ALNY,201702,2381.0,2123857.36,401640.70,44.0,0.189109,1924.0
ALNY201703,11,ALNY,201703,2891.0,2060384.41,423007.74,55.0,0.205305,2284.0
ALNY201704,11,ALNY,201704,2004.0,2143953.03,326895.40,37.0,0.152473,2007.0
ALNY201705,11,ALNY,201705,2860.0,2125031.91,386417.55,65.0,0.181841,2446.0

In [41]:
df_prof_grades_alpha = pd.read_csv("Profitability_Grades_Alpha.csv", index_col=0, dtype={'Scenario 1': object, 'Scenario 2': object, 'Scenario 3': object})
df_prof_grades_alpha.head()

,Sales District,Sales Office,Date (YYYYMM),Number of Delivery Lines (SO),Sales $ per branch,GM $ per branch,RSO by plant,GMR,Sales Order - RSO,Scenario 1,Scenario 2,Scenario 3
ALNY201701,11,ALNY,201701,Q,R,R,R,R,Q,3,3,3
ALNY201702,11,ALNY,201702,Q,Q,Q,R,Q,R,2,2,2
ALNY201703,11,ALNY,201703,Q,Q,P,R,Q,Q,2,1,2
ALNY201704,11,ALNY,201704,R,Q,Q,R,R,R,3,3,3
ALNY201705,11,ALNY,201705,Q,Q,Q,R,Q,Q,2,2,2

In [11]:
df_prof_grades_num = pd.read_csv("Profitability_Grades_Num.csv", index_col=0)
df_prof_grades_num.head()

,Sales District,Sales Office,Date (YYYYMM),Number of Delivery Lines (SO),Sales $ per branch,GM $ per branch,RSO by plant,GMR,Sales Order - RSO,Scenario 1,Scenario 2,Scenario 3
ALNY201701,11,ALNY,201701,30.0,20.0,20.0,20.0,20.0,30.0,23.0,21.0,21.0
ALNY201702,11,ALNY,201702,30.0,30.0,30.0,20.0,30.0,20.0,27.0,29.0,29.0
ALNY201703,11,ALNY,201703,30.0,30.0,40.0,20.0,30.0,30.0,30.5,33.5,31.5
ALNY201704,11,ALNY,201704,20.0,30.0,30.0,20.0,20.0,20.0,23.5,25.0,24.5
ALNY201705,11,ALNY,201705,30.0,30.0,30.0,20.0,30.0,30.0,28.5,29.5,29.5

## Scenario Counts

In [12]:
@interact
def show_this(column=list(['Scenario 1', 'Scenario 2', 'Scenario 3'])):
    return sns.countplot(df_prod_grades_alpha[column])

interactive(children=(Dropdown(description='column', options=('Scenario 1', 'Scenario 2', 'Scenario 3'), value…

In [13]:
@interact
def show_this(column=list(['Scenario 1', 'Scenario 2', 'Scenario 3'])):
    return sns.countplot(df_prof_grades_alpha[column])

interactive(children=(Dropdown(description='column', options=('Scenario 1', 'Scenario 2', 'Scenario 3'), value…

## Main Graph

In [27]:
df_display_prod = df_prod_grades_num[['Sales Office', 'Date (YYYYMM)', 'Scenario 1', 'Scenario 2', 'Scenario 3']]
df_display_prod[['Scenario 1 Alpha', 'Scenario 2 Alpha', 'Scenario 3 Alpha']] = df_prod_grades_alpha[['Scenario 1', 'Scenario 2', 'Scenario 3']].copy()

df_display_prof = df_prof_grades_num[['Sales Office', 'Date (YYYYMM)', 'Scenario 1', 'Scenario 2', 'Scenario 3']]
df_display_prof[['Scenario 1 Alpha', 'Scenario 2 Alpha', 'Scenario 3 Alpha']] = (df_prof_grades_alpha[['Scenario 1', 'Scenario 2', 'Scenario 3']].copy())
df_display_prof
# df_display_prof.replace("nan", np.nan, inplace=True)

# dates = ['201701', '201702', '201703', '201704', '201705', '201706', '201707', 
#          '201708', '201709', '201710', '201711', '201712', '201801', '201802', 
#          '201803', '201804', '201805', '201806', '201807', '201808', '201809', 
#          '201810', '201811', '201812', '201901', '201902', '201903']

,Sales Office,Date (YYYYMM),Scenario 1,Scenario 2,Scenario 3,Scenario 1 Alpha,Scenario 2 Alpha,Scenario 3 Alpha
ALNY201701,ALNY,201701,23.0,21.0,21.0,3,3,3
ALNY201702,ALNY,201702,27.0,29.0,29.0,2,2,2
ALNY201703,ALNY,201703,30.5,33.5,31.5,2,1,2
ALNY201704,ALNY,201704,23.5,25.0,24.5,3,3,3
ALNY201705,ALNY,201705,28.5,29.5,29.5,2,2,2
ALNY201706,ALNY,201706,33.5,35.0,34.5,1,1,1
ALNY201707,ALNY,201707,27.0,29.0,29.0,2,2,2
ALNY201708,ALNY,201708,33.5,35.0,34.5,1,1,1
ALNY201709,ALNY,201709,30.5,33.5,31.5,2,1,2
ALNY201710,ALNY,201710,30.0,30.0,30.0,2,2,2
ALNY201711,ALNY,201711,32.0,34.5,34.0,2,1,1
ALNY201712,ALNY,201712,25.0,25.5,25.0,3,2,3
ALNY201801,ALNY,201801,32.0,34.5,34.0,2,1,1
ALNY201802,ALNY,201802,27.0,29.0,29.0,2,2,2
ALNY201803,ALNY,201803,32.0,34.5,34.0,2,1,1
ALNY201804,ALNY,201804,30.0,31.0,30.0,2,2,2
ALNY201805,ALNY,201805,30.0,31.0,30.0,2,2,2
ALNY201806,ALNY,201806,30.0,31.0,30.0,2,2,2
ALNY201807,ALNY,201807,30.0,31.0,30.0,2,2,2
ALNY201808,ALNY,201808,30.0,31.0,30.0,2,2,2
ALNY201809,ALNY,201809,27.0,30.0,29.0,2,2,2
ALNY201810,ALNY,201810,30.0,31.0,30.0,2,2,2
ALNY201811,ALNY,201811,25.0,25.5,25.0,3,2,3
ALNY201812,ALNY,201812,28.5,30.5,29.5,2,2,2
ALNY201901,ALNY,201901,27.0,29.0,29.0,2,2,2
ALNY201902,ALNY,201902,23.5,25.0,24.5,3,3,3
ALNY201903,ALNY,201903,27.0,29.0,29.0,2,2,2
ALPA201701,ALPA,201701,33.5,35.0,34.5,1,1,1
ALPA201702,ALPA,201702,32.0,34.5,34.0,2,1,1
ALPA201703,ALPA,201703,32.0,34.5,34.0,2,1,1
...,...,...,...,...,...,...,...,...
ZYOH201901,ZYOH,201901,22.0,22.5,24.0,3,3,3
ZYOH201902,ZYOH,201902,16.0,12.0,12.0,4,4,4
ZYOH201903,ZYOH,201903,16.0,12.0,12.0,4,4,4
CAPR201701,CAPR,201701,22.0,23.0,22.0,3,3,3
CAPR201702,CAPR,201702,23.5,24.0,24.5,3,3,3
CAPR201703,CAPR,201703,21.5,20.5,20.5,3,3,3
CAPR201704,CAPR,201704,16.5,15.0,15.5,4,4,4
CAPR201705,CAPR,201705,21.5,20.5,20.5,3,3,3
CAPR201706,CAPR,201706,21.5,20.5,20.5,3,3,3
CAPR201707,CAPR,201707,21.5,20.5,20.5,3,3,3
CAPR201708,CAPR,201708,21.5,20.5,20.5,3,3,3
CAPR201709,CAPR,201709,13.5,14.0,14.5,4,4,4
CAPR201710,CAPR,201710,21.5,20.5,20.5,3,3,3
CAPR201711,CAPR,201711,25.0,24.5,25.0,3,3,3
CAPR201712,CAPR,201712,27.0,29.0,29.0,2,2,2
CAPR201801,CAPR,201801,23.0,21.0,21.0,3,3,3
CAPR201802,CAPR,201802,28.5,29.5,29.5,2,2,2
CAPR201803,CAPR,201803,28.5,29.0,27.5,2,2,2
CAPR201804,CAPR,201804,30.5,33.5,31.5,2,1,2
CAPR201805,CAPR,201805,30.0,30.0,30.0,2,2,2
CAPR201806,CAPR,201806,30.0,30.0,30.0,2,2,2
CAPR201807,CAPR,201807,28.0,26.5,26.0,2,2,2
CAPR201808,CAPR,201808,28.0,26.5,26.0,2,2,2
CAPR201809,CAPR,201809,28.5,29.5,29.5,2,2,2
CAPR201810,CAPR,201810,33.5,35.0,34.5,1,1,1
CAPR201811,CAPR,201811,30.0,31.0,30.0,2,2,2
CAPR201812,CAPR,201812,28.5,30.5,29.5,2,2,2
CAPR201901,CAPR,201901,30.0,31.0,30.0,2,2,2
CAPR201902,CAPR,201902,28.5,30.5,29.5,2,2,2
CAPR201903,CAPR,201903,32.0,34.5,34.0,2,1,1

In [39]:
@interact
def show_this(Productivity=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), Profitability=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), year=dates):
    temp = pd.DataFrame()
    temp_df_display_prod = df_display_prod[df_display_prod['Date (YYYYMM)']==int(year)]
    temp_df_display_prof = df_display_prof[df_display_prof['Date (YYYYMM)']==int(year)]
    temp['Legend'] = temp_df_display_prod[Productivity+' Alpha'] + temp_df_display_prof[Profitability+' Alpha']
    display(temp_df_display_prod)
    display(temp_df_display_prof)

#     plt.figure(figsize=(16, 10))
#     ax = sns.scatterplot(temp_df_display_prod[Productivity], temp_df_display_prof[Profitability], sizes=20, hue=temp['Legend'], hue_order=np.sort(temp['Legend'].dropna().unique()), palette="tab20")
#     ax.set(xlabel='Productivity', ylabel='Profitability')
#     ax.set(title='Model')
#     plt.plot([10, 10], [9, 41], color='w', lw=0.75)
#     plt.plot([17.6, 17.6], [9, 41], color='w', lw=0.75)
#     plt.plot([25.1, 25.1], [9, 41], color='w', lw=0.75)
#     plt.plot([32.6, 32.6], [9, 41], color='w', lw=0.75)
#     plt.plot([40, 40], [9, 41], color='w', lw=0.75)
#     plt.plot([9, 41], [10, 10], color='w', lw=0.75)
#     plt.plot([9, 41], [17.6, 17.6], color='w', lw=0.75)
#     plt.plot([9, 41], [25.1, 25.1], color='w', lw=0.75)
#     plt.plot([9, 41], [32.6, 32.6], color='w', lw=0.75)
#     plt.plot([9, 41], [40, 40], color='w', lw=0.75)
#     ax.legend(loc='center left', bbox_to_anchor=(1, 0.5), ncol=1)

interactive(children=(Dropdown(description='Productivity', options=('Scenario 1', 'Scenario 2', 'Scenario 3'),…

## Version 2.0

In [18]:
@interact
def show_this(Productivity=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), Profitability=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), year=dates):
    temp = pd.DataFrame()
    
    temp_df_display_prod = df_display_prod[df_display_prod['Date (YYYYMM)']==int(year)]
    temp_df_display_prof = df_display_prof[df_display_prof['Date (YYYYMM)']==int(year)]
    
    temp['Legend'] = temp_df_display_prod[Productivity+' Alpha'] + temp_df_display_prof[Profitability+' Alpha']

    source = ColumnDataSource(data = {'Sales_Office' : temp_df_display_prod['Sales Office'], 
                                  'Date_(YYYYMM)': temp_df_display_prod['Date (YYYYMM)'], 
                                  Productivity+'_Prod': temp_df_display_prod[Productivity],
                                  Productivity+'_Alpha_Prod': temp_df_display_prod[Productivity+' Alpha'],
                                  Profitability+'_Prof': temp_df_display_prof[Profitability],
                                  Profitability+'_Alpha_Prof': temp_df_display_prof[Profitability+' Alpha'],
                                  'Legend': temp_df_display_prod[Productivity+' Alpha'] + temp_df_display_prof[Profitability+' Alpha'].map(str)
                                })
   
    p = figure(plot_height=600, plot_width=750)
    p.xaxis.axis_label = 'Productivity'
    p.yaxis.axis_label = 'Profitability'
    p.xgrid.grid_line_color = None
    p.ygrid.grid_line_color = None
    p.background_fill_color = "#252525"
    
    sp = p.scatter(x= Productivity+'_Prod', y=Profitability+'_Prof', source=source, color = '#f0f0f0')
    
    p.line([10, 10], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([17.6, 17.6], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([25.1, 25.1], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([32.6, 32.6], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([40, 40], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [10, 10], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [17.6, 17.6], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [25.1, 25.1], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [32.6, 32.6], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [40, 40], line_width = 0.50, line_color="lightblue")
    
    
    p.add_tools(HoverTool(renderers=[sp],
        tooltips=[('Sales Office',  '@Sales_Office'),
                  ('Label',  '@Legend')]

        # display a tooltip whenever the cursor is vertically in line with a glyph
        #mode='point'
    ))
    
    show(p)

interactive(children=(Dropdown(description='Productivity', options=('Scenario 1', 'Scenario 2', 'Scenario 3'),…

In [17]:
@interact
def show_this(Productivity=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), Profitability=list(['Scenario 1', 'Scenario 2', 'Scenario 3']), year=dates):
    temp = pd.DataFrame()
    
    temp_df_display_prod = df_display_prod[df_display_prod['Date (YYYYMM)']==int(year)]
    temp_df_display_prof = df_display_prof[df_display_prof['Date (YYYYMM)']==int(year)]
    
    temp['Legend'] = temp_df_display_prod[Productivity+' Alpha'] + temp_df_display_prof[Profitability+' Alpha']

    
    legend = ['A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'B4', 'C1', 'C2', 'C3', 'C4', 'D1', 'D2', 'D3', 'D4', np.nan]
    colors = d3["Category20b"][len(legend)]
    colormap = dict(zip(legend, colors))
    
    temp['Colors'] = [colormap[x] for x in temp.Legend]
    
    source = ColumnDataSource(data = {'Sales_Office' : temp_df_display_prod['Sales Office'], 
                                  'Date_(YYYYMM)': temp_df_display_prod['Date (YYYYMM)'], 
                                  Productivity+'_Prod': temp_df_display_prod[Productivity],
                                  Productivity+'_Alpha_Prod': temp_df_display_prod[Productivity+' Alpha'],
                                  Profitability+'_Prof': temp_df_display_prof[Profitability],
                                  Profitability+'_Alpha_Prof': temp_df_display_prof[Profitability+' Alpha'],
                                  'Legend': temp_df_display_prod[Productivity+' Alpha'] + temp_df_display_prof[Profitability+' Alpha'].map(str),
                                  'Colors': temp['Colors']
                                })
    
    p = figure(plot_height=600, plot_width=750)
    p.xaxis.axis_label = 'Productivity'
    p.yaxis.axis_label = 'Profitability'
    p.xgrid.grid_line_color = None
    p.ygrid.grid_line_color = None
    p.background_fill_color = "#252525"
    
    sp = p.scatter(x= Productivity+'_Prod', y=Profitability+'_Prof', source=source, color = 'Colors', size=6, fill_alpha=0.5)
    
    p.line([10, 10], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([17.6, 17.6], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([25.1, 25.1], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([32.6, 32.6], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([40, 40], [9, 41], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [10, 10], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [17.6, 17.6], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [25.1, 25.1], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [32.6, 32.6], line_width = 0.50, line_color="lightblue")
    p.line([9, 41], [40, 40], line_width = 0.50, line_color="lightblue")
    
    
    p.add_tools(HoverTool(renderers=[sp],
        tooltips=[('Sales Office',  '@Sales_Office'),
                  ('Label',  '@Legend')]

        # display a tooltip whenever the cursor is vertically in line with a glyph
        #mode='point'
    ))
    output_notebook()
    show(p)

interactive(children=(Dropdown(description='Productivity', options=('Scenario 1', 'Scenario 2', 'Scenario 3'),…

In [46]:
Productivity = widgets.Dropdown(
    options=['Scenario 1', 'Scenario 2', 'Scenario 3'],
    value='Scenario 1',
    description='Productivity',
)

Profitability = widgets.Dropdown(
    options=['Scenario 1', 'Scenario 2', 'Scenario 3'],
    value='Scenario 1',
    description='Profitability',
)

Year = widgets.Dropdown(
    options=dates,
    value='201701',
    description='Year',
)

Submit = widgets.Button(
    description='Submit',
    button_style='success',
    tooltip='Submit',
    icon='check'
)

out = widgets.Output()
display(out)

def on_button_clicked(Submit):
     with out:
        clear_output()
        temp = pd.DataFrame()

        temp_df_display_prod = df_display_prod[df_display_prod['Date (YYYYMM)']==int(Year.value)]
        temp_df_display_prof = df_display_prof[df_display_prof['Date (YYYYMM)']==int(Year.value)]

        temp['Legend'] = temp_df_display_prod[Productivity.value +' Alpha'] + temp_df_display_prof[Profitability.value +' Alpha']


        legend = ['A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'B4', 'C1', 'C2', 'C3', 'C4', 'D1', 'D2', 'D3', 'D4', np.nan]
        colors = d3["Category20b"][len(legend)]
        colormap = dict(zip(legend, colors))

        temp['Colors'] = [colormap[x] for x in temp.Legend]

        source = ColumnDataSource(data = {'Sales_Office' : temp_df_display_prod['Sales Office'], 
                                      'Date_(YYYYMM)': temp_df_display_prod['Date (YYYYMM)'], 
                                      Productivity.value +'_Prod': temp_df_display_prod[Productivity.value],
                                      Productivity.value +'_Alpha_Prod': temp_df_display_prod[Productivity.value +' Alpha'],
                                      Profitability.value +'_Prof': temp_df_display_prof[Profitability.value],
                                      Profitability.value+'_Alpha_Prof': temp_df_display_prof[Profitability.value +' Alpha'],
                                      'Legend': temp_df_display_prod[Productivity.value+' Alpha'] + temp_df_display_prof[Profitability.value +' Alpha'].map(str),
                                      'Colors': temp['Colors']
                                    })

        p = figure(plot_height=600, plot_width=750)
        p.xaxis.axis_label = 'Productivity'
        p.yaxis.axis_label = 'Profitability'
        p.xgrid.grid_line_color = None
        p.ygrid.grid_line_color = None
        p.background_fill_color = "#252525"

        sp = p.scatter(x= Productivity.value +'_Prod', y=Profitability.value +'_Prof', source=source, color = 'Colors', size=6, fill_alpha=0.5)

        p.line([10, 10], [9, 41], line_width = 0.50, line_color="lightblue")
        p.line([17.6, 17.6], [9, 41], line_width = 0.50, line_color="lightblue")
        p.line([25.1, 25.1], [9, 41], line_width = 0.50, line_color="lightblue")
        p.line([32.6, 32.6], [9, 41], line_width = 0.50, line_color="lightblue")
        p.line([40, 40], [9, 41], line_width = 0.50, line_color="lightblue")
        p.line([9, 41], [10, 10], line_width = 0.50, line_color="lightblue")
        p.line([9, 41], [17.6, 17.6], line_width = 0.50, line_color="lightblue")
        p.line([9, 41], [25.1, 25.1], line_width = 0.50, line_color="lightblue")
        p.line([9, 41], [32.6, 32.6], line_width = 0.50, line_color="lightblue")
        p.line([9, 41], [40, 40], line_width = 0.50, line_color="lightblue")


        p.add_tools(HoverTool(renderers=[sp],
            tooltips=[('Sales Office',  '@Sales_Office'),
                      ('Label',  '@Legend')]

            # display a tooltip whenever the cursor is vertically in line with a glyph
            #mode='point'
        ))
        output_notebook()
        show(p)

Submit.on_click(on_button_clicked)

display(Productivity) 
display(Profitability)
display(Year)
display(Submit)

Output()

Dropdown(description='Productivity', options=('Scenario 1', 'Scenario 2', 'Scenario 3'), value='Scenario 1')

Dropdown(description='Profitability', options=('Scenario 1', 'Scenario 2', 'Scenario 3'), value='Scenario 1')

Dropdown(description='Year', options=('201701', '201702', '201703', '201704', '201705', '201706', '201707', '2…

Button(button_style='success', description='Submit', icon='check', style=ButtonStyle(), tooltip='Submit')